<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ISMService" value="tcp://192.168.2.194:16666/ZHSMSService.ZHSMSPlatformService"/>
    <add key="SMSHost" value ="http://192.168.2.194:8017"/>
    <add key="ISMPHost" value ="http://192.168.2.194:8001"/>
    <add key="CommercialSuffix" value =""/>
    <add key="SMSProductId" value ="sms"/>
    <add key="SMSProductName" value ="行业短信"/>
  </appSettings>  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>
  
</configuration>
