<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="../Content/css/base-min.css">
    <link rel="stylesheet" type="text/css" href="../Content/css/default-color.css">
    <link rel="stylesheet" type="text/css" href="../Content/css/common.css">
    <link rel="stylesheet" type="text/css" href="../Content/css/easyui.css">

    <link rel="stylesheet" type="text/css" href="../Content/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../Content/css/forms-min.css">
    <link rel="stylesheet" type="text/css" href="../Content/css/grids-min.css">
    <link rel="stylesheet" type="text/css" href="../Content/css/buttons-min.css">
    <link rel="stylesheet" type="text/css" href="../Content/css/tables-min.css">
    <link rel="stylesheet" type="text/css" href="../Content/css/menus-min.css">
    <link rel="stylesheet" type="text/css" href="../Content/css/iframe.css">

    <link rel="stylesheet" type="text/css" href="../Content/css/toastr.min.css">

    <script type="text/javascript" src='../Scripts/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='../Scripts/jquery.easyui.min.js'></script>
    <script type="text/javascript" src='../Scripts/easyui-lang-zh_CN.js'></script>
    <script type="text/javascript" src="../Scripts/plugin/ismp_plugin.js"></script>
    <script type="text/javascript" src="../Scripts/plugin/toastr.min.js"></script>
    <script type="text/javascript" src="../Scripts/Common/zh_ISMP.js"></script>

    <style type="text/css">
    .dailishang_edit td{padding-top: 15px;}
    .dailishang_edit {font-size: 14px;}
    .textbox{position: relative;width: 300px!important;}
    </style>
    <title>设置发送密码</title>
</head>
<body>
    <div class="ismp_con">
        <p></p>
        <p style="color:#000">注：该功能为设置通过短信接口发送短信所需的密码，如不使用短信接口发送短信无需设置。</p>
        <p></p>
        <form id="frmedit" class="pure-form">
            <table align="center" class="dailishang_edit" style="width:410px;float:left;">
                <tr>
                    <td align="right" width="99">
                        企业账号：
                    </td>
                    <td>
                        <label id="AccountCode"></label>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        平台登录密码：
                    </td>
                    <td>
                        <input id="OldPassword" type="password" class="input easyui-textbox" style="width:300px;" name="OldPassword" required="true" /><span style="color:red"> *</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top">
                        短信发送密码：
                    </td>
                    <td>
                        <input id="Password" type="password" class="input easyui-textbox" style="width:100%;" name="Password" required="true" validtype="Password" /><span style="color:red"> *</span><br />
                        <span style="color:red">密码必须是以字母开头，长度在6~18之间，只能包含字母、数字和下划线。</span>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        确认发送密码：
                    </td>
                    <td>
                        <input id="ConfirmPassword" type="password" class="input easyui-textbox" style="width:100%;" name="ConfirmPassword" required="true" validtype="equalTo['#Password']" /><span style="color:red"> *</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <a href="javascript:void(0)" class="pure-button pure-button-primary btn" onclick="submitPasswordReset()">保存</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <input id="paramJson" type="hidden" value="@ViewData["ParamObject"]">
</body>
<script>
    $.extend($.fn.validatebox.defaults.rules, {
        /*密码必须是以字母开头，长度在6~18之间，只能包含字母、数字和下划线*/
        Password: {
            validator: function (value) {
                return /(^[a-zA-Z][A-Za-z0-9_]{5,17}$)/.test(value);
            }, message: '密码格式不正确'
        }
    });
    $.extend($.fn.validatebox.defaults.rules, {
        /*必须和某个字段相等*/
        equalTo: { validator: function (value, param) { return $(param[0]).val() == value; }, message: '两次密码不一致' }
    });


    var Param;
    $(function () {
        Param = eval("(" + $('#paramJson').val() + ")");

        $('#AccountCode').html(Param.AccountCode);
        InitForm();
    });

    function InitForm() {
        $("#frmedit").form({
            url: "/Enterprise/ChangeEnterprisePassword",
            onSubmit: function (param) {
                param["AccountCode"] = Param.AccountCode;

                var isValid = $(this).form('validate');
                if (!isValid) {
                    $.messager.progress('close');
                    $.messager.alert("提示", "请先把数据填写完整或检查已填项格式！");
                }
                return isValid;
            },
            success: function (data) {
                var msg = eval("(" + data + ")");
                if (msg.success) {
                    
                }
                //toastr[msg.type](msg.message);
                $.messager.alert("提示", msg.message, msg.type);
            }
        });
    }

    function submitPasswordReset() {
        $("#frmedit").submit();
    }
</script>
</html>