<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
    <customErrors mode="off" />
    <application name="LOGServer">
      <service>
        <!--SingleCall Singleton-->
        <wellknown type="LogService.Service,LogService" objectUri="LogService.Service"
            mode="SingleCall" />
      </service>
      <channels>
        <channel ref="tcp" port="17771"/>
      </channels>
    </application>
  </system.runtime.remoting>
  
  <appSettings>
    <add key="MQUrl" value="amqp://192.168.2.29:5672/"/>
    <add key="MQName" value="guest"/>
    <add key="MQPassword" value="guest"/>
    <add key="MQVHost" value="ZHSMS"/>
    <add key="MQChannel" value="LOG"/>
  </appSettings>

  <connectionStrings>
    <add name="local_w_10" connectionString="server = 192.168.56.101; user id = root; password = 123456; database = test"/>
    <add name="local_r_10" connectionString="server = 192.168.56.101; user id = root; password = 123456; database = test"/>
  </connectionStrings>
  
</configuration>