<?xml version="1.0"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Account>zhonghu</Account>
  <Password>SDyunjing123</Password>
  <ServerUrl>http://112.124.23.213:8888</ServerUrl>
  <!--<Password>zhonghu</Password>
  <ServerUrl>http://localhost:9009/ZSSC</ServerUrl>-->
  <UserId>586</UserId>
  <SignaturePos>586</SignaturePos>
  <SrcID></SrcID>
</Config>