<?xml version="1.0"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Account>sdzhkj</Account>
  <Password>160129</Password>
  <ServerUrl>http://59.36.98.104:3080</ServerUrl>
  <UserId>2646</UserId>
  <SrcID></SrcID>
  <HttpPort>8080</HttpPort>
  <ReportURL></ReportURL>
  <MOURL></MOURL>
</Config>