<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Title" value="商业短信发送服务"/>
    <add key="Icon" value="ico/12.ico"/>
    <add key="LogLevel" value="ALL"/>
    <add key="LogDir" value="E:/Log"/>
  </appSettings>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true" />
  </runtime>
</configuration>