<?xml version="1.0"?>
<HttpGatewayConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <GatewayName>OPWODX</GatewayName>
  <GatewayClass>OPWOHY</GatewayClass>
  <Account>800963</Account>
  <UserId>800963</UserId>
  <Password>HXF4Fh</Password>
  <SrcId>106902202237</SrcId>
  <SendUrl>http://121.52.212.233:7803/sms</SendUrl>
  <StatusReportUrl>http://121.52.212.233:7803/sms</StatusReportUrl>
  <MOUrl>http://121.52.212.233:7803/sms</MOUrl>
  <BalanceUrl>http://121.52.212.233:7803/sms</BalanceUrl>
  <MOInterval>30000</MOInterval>
  <StatusReportInterval>10000</StatusReportInterval>
  <SignaturePos>0</SignaturePos>
  <ExtendNo>1</ExtendNo>
  <EnableTrafficControl>1</EnableTrafficControl>
  <HandlingAbility>100</HandlingAbility>
  <TrafficMonitorIntervalSeconds>3</TrafficMonitorIntervalSeconds>
</HttpGatewayConfig>