<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name="SMSServer">
      <service>
        <!--SingleCall Singleton-->
        <wellknown type="SMSService.SMSService,SMSService" objectUri="SMSService.SMSService"
            mode="SingleCall" />
      </service>
      <channels>
        <channel ref="tcp" port="16660"/>
      </channels>
    </application>
  </system.runtime.remoting>
  <appSettings>
    <add key="MessageLevel" value="ALL"/>
    <add key="MQHost" value="192.168.5.214" />
    <add key="MQVHost" value="SMST" />
    <add key="MQUserName" value="yjsms" />
    <add key="MQPassword" value="smsyj" />
  </appSettings>
  <connectionStrings>
    <add name="mysql" connectionString="server = 192.168.5.20;port=3306; user id = root; password = manager12; database = sms;charset=utf8;min pool size=5;max pool size=512;"/>
  </connectionStrings>
</configuration>