<?xml version="1.0"?>
<SGIPSetting xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ServerIp>192.168.2.194</ServerIp>
  <ServerPort>10001</ServerPort>
  <LocalIP>192.168.2.16</LocalIP>
  <LocalPort>8807</LocalPort>
  <Password>10655953600</Password>
  <SlidingWindowSize>1</SlidingWindowSize>
  <SendCount>3</SendCount>
  <TimeOut>30</TimeOut>
  <SendSpan>100</SendSpan>
  <SrcNodeSequence>41048</SrcNodeSequence>
  <CorpId>41048</CorpId>
  <FeeValue>0</FeeValue>
  <FeeType>2</FeeType>
  <ChargeNumber>13130713384</ChargeNumber>
  <ServiceType>9991900721</ServiceType>
  <LoginName>10655953600</LoginName>
  <LocalLoginName>10655953600</LocalLoginName>
  <LocalLoginPassword>10655953600</LocalLoginPassword>
  <SrcID>10655024069</SrcID>
</SGIPSetting>

<!--<?xml version="1.0"?>
<SGIPSetting xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ServerIp>220.201.8.97</ServerIp>
  <ServerPort>9001</ServerPort>
  <LocalIP>118.26.164.210</LocalIP>
  <LocalPort>8807</LocalPort>
  <Password>sdzhhy</Password>
  <SlidingWindowSize>1</SlidingWindowSize>
  <SendCount>3</SendCount>
  <TimeOut>30</TimeOut>
  <SendSpan>45</SendSpan>
  <SrcNodeSequence>102403</SrcNodeSequence>
  <CorpId>31963</CorpId>
  <FeeValue>0</FeeValue>
  <FeeType>2</FeeType>
  <ChargeNumber>13130713384</ChargeNumber>
  <ServiceType>9991900721</ServiceType>
  <LoginName>sdzhhy</LoginName>
  <LocalLoginName>hysdzh</LocalLoginName>
  <LocalLoginPassword>hysdzh</LocalLoginPassword>
  <SrcID>10655024069</SrcID>
</SGIPSetting>-->