<?xml version="1.0"?>
<ArrayOfOperators xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Operators>
    <Name>unicom</Name>
    <DNSEG>
      <string>130</string>
      <string>131</string>
      <string>132</string>
      <string>155</string>
      <string>156</string>
      <string>185</string>
      <string>186</string>
      <string>145</string>
      <string>1709</string>
    </DNSEG>
  </Operators>
  <Operators>
    <Name>mobile</Name>
    <DNSEG>
      <string>134</string>
      <string>135</string>
      <string>136</string>
      <string>137</string>
      <string>138</string>
      <string>139</string>
      <string>150</string>
      <string>152</string>
      <string>151</string>
      <string>157</string>
      <string>158</string>
      <string>159</string>
      <string>187</string>
      <string>188</string>
      <string>182</string>
      <string>183</string>
      <string>147</string>
      <string>184</string>
      <string>1705</string>
    </DNSEG>
  </Operators>
  <Operators>
    <Name>telecom</Name>
    <DNSEG>
      <string>133</string>
      <string>153</string>
      <string>180</string>
      <string>189</string>
      <string>181</string>
      <string>1700</string>
    </DNSEG>
  </Operators>
</ArrayOfOperators>