@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>短信网关接收信息</title>
</head>
<body>
    <div>
        巨辰等网关接收状态报告和上行短信用。
    </div>
</body>
</html>
