<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="httpurl" value="http://192.168.2.16:10010/"/>-->
    <!-- <add key="httpurl" value="http://smshttp.k400.cc/"/>
    <add key="wsurl" value="http://smsws.k400.cc/"/>-->
    <add key="httpurl" value="http://192.168.5.218:30080/"/>
    <add key="wsurl" value="http://192.168.5.218:30081/"/>
  </appSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>