<?xml version="1.0"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Account>000054</Account>
  <!--<Password>6941E44A6AC61AFE75CEB7DEEA20F618</Password>  --><!--Md5加密 大写32 位 加密前 PBhPZARk-->
  <Password>337B8FFA66A3B0E1D61F3B9BDDB75D20</Password>  <!--Md5加密 大写32 位 加密前 000054zh-->
  <ServerUrl>http://112.74.203.97</ServerUrl>
  <UserId></UserId>
  <SrcID>10690129</SrcID>
</Config>

<!--<?xml version="1.0"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Account>111111</Account>
  <Password>S52x7e</Password>
  <ServerUrl>http://localhost:9009/ZSHY</ServerUrl>
  <UserId>586</UserId>
  <SrcID>106903000</SrcID>
</Config>-->