<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name="SMSPlatformService">
      <service>
        <wellknown type="SMSPlatService.SMSPlatformService,SMSPlatformService" objectUri="SMSPlatService.SMSPlatformService"
            mode="SingleCall" />
      </service>
      <channels>
        <channel ref="tcp" port="16666"/>
      </channels>
    </application>
  </system.runtime.remoting>
  <appSettings>
    <add key="MessageLevel" value="ALL"/>
    <add key="SMSService" value="tcp://192.168.5.20:16660/SMSService.SMSService"/>
    <add key="SecretKey" value="ZhMs@a!1cOuntP^6"/>
    <!--ZhMs@a!1cOuntP^6-->
    <add key="MQHost" value="192.168.5.214" />
    <add key="MQVHost" value="SMST" />
    <add key="MQUserName" value="yjsms" />
    <add key="MQPassword" value="smsyj" />

    <add key="MQChannel" value="MOProcess" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="MySQL" connectionString="server = 192.168.5.20;port=3306; user id = root; password = manager12; database = smsplatform;charset=utf8;min pool size=5;max pool size=100;"/>
  </connectionStrings>
</configuration>