<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ZHSMSPlatService" value="tcp://127.0.0.1:16666/ZHSMSService.ZHSMSPlatformService"/>
    <add key="SecretKey" value="ZhMs@a!1cOuntP^6"/>
    <!--ZhMs@a!1cOuntP^6-->
  </appSettings>
  <connectionStrings>
    <add name="MySQL" connectionString="server = 192.168.2.209; user id = admin; password = 123456; database = ZHSMSPlatform"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors   mode="On" defaultRedirect="error/callsupport.htm" >
      <error statusCode="500" redirect="error/callsupport.htm"/>
      <error statusCode="404" redirect="error/notfound.htm"/>
    </customErrors>
  </system.web>

</configuration>
