<?xml version="1.0"?>
<SMGPSetting xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ActiveTestSpan>30</ActiveTestSpan>
  <ValidTime />
  <FeeCode>10</FeeCode>
  <FeeType>02</FeeType>
  <ChargeTermID>10655953600</ChargeTermID>
  <ServiceID>41048</ServiceID>
  <Ip>192.168.2.34</Ip>
  <Port>9890</Port>
  <Password>106559</Password>
  <LocalIP>192.168.2.34</LocalIP>
  <SPID>106559</SPID>
  <SlidingWindowSize>1</SlidingWindowSize>
  <SendCount>3</SendCount>
  <TimeOut>30</TimeOut>
  <SendSpan>50</SendSpan>
  <MsgSrc></MsgSrc>
  <SrcID></SrcID>
</SMGPSetting>