<?xml version="1.0"?><!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  --><configuration>
  <appSettings>
    <add key="Pretreatment" value="tcp://127.0.0.1:16660/PretreatmentService.PretreatmentService"/>

    <add key="StatusReportService" value="tcp://127.0.0.1:16661/StatusReportService.StatusReportService"/>
	</appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400" useFullyQualifiedRedirectUrl="true" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>


	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Enterprise.AspNetHelper" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<codeBase version="11.0.0.0" href="file:///C:/Program%20Files%20(x86)/Microsoft%20Visual%20Studio%2011.0/Common7/IDE/PrivateAssemblies/Microsoft.VisualStudio.Enterprise.AspNetHelper.DLL"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  </configuration>