<?xml version="1.0"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Account>800963</Account>
  <Password>HXF4Fh</Password>
  <ServerUrl>http://121.52.212.233:7803</ServerUrl>
  <UserId>800963</UserId>
  <SignaturePos>1</SignaturePos>
  <SrcID>106902202237</SrcID>
</Config>