@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/Content/css/base-min.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/default-color.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/common.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/easyui.css">

    <link rel="stylesheet" type="text/css" href="/Content/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/forms-min.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/grids-min.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/buttons-min.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/tables-min.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/menus-min.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/iframe.css">

    <script type="text/javascript" src='/Scripts/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src="/Scripts/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/Scripts/Common/zh_ISMP.js"></script>
    <script type="text/javascript" src="/Scripts/easyui-lang-zh_CN.js"></script>
    <title>企业发送通道维护</title>
    <script type="text/javascript">

        var channellist;

        $(function () {
            channellist = $.parseJSON($("#channel").val());
            var arr = new Array();
            arr.push({ "Id": "", "Name": "　" });
            for (var i in channellist) {
                arr.push({ "Id": channellist[i].Id, "Name": channellist[i].Name });
            }
            $("#frmqryChannel").combobox({
                data: arr,
                valueField: 'Id',
                textField: 'Name',
                editable: false
            });
            
            $("#frmqryChannel").combobox();
            doqry();

        });
        function doqry() {
            $('#grid').datagrid({
                url: '/Platform/EnterpriseChannelSettingData',
                queryParams: {
                    Channel: $("#frmqryChannel").combobox("getValue"),
                    Keywords: $("#frmqryEnterpriseCodeORName").textbox("getValue")
                },
                columns: [[
                    { field: 'ck', checkbox: true, title: '选择', width: 50 },

                    {
                        field: 'Name', title: '企业名称', width: 200
                    },
                    { field: 'LoginName', title: '企业账号', width: 200 },

                    {
                        field: 'Channel', title: '发送通道', width: 200, formatter: function (val, row, index) {
                            for (var i in channellist) {
                                if (channellist[i].Id == val) {
                                    return channellist[i].Name;
                                }
                            }
                            return val;
                        }
                    }
                ]],
                pagination: true,
                pageNumber: 1,
                singleSelect: false,
                selectOnCheck: true,
                checkOnSelect: true,
                fit: true,
                rownumbers: true,
                nowrap: false,   //自动换行

                loadFilter: function (data) {
                    if (data && data.success == false) {
                        $.messager.alert("提示", data.message, data.type);
                        return { total: 0, rows: null };
                    }
                    return data;
                }
            });

        }

        function reloadgrid() {
            $("#grid").datagrid("reload");
        }
        function ShowSelectChannel() {
            var rows = $("#grid").datagrid("getSelections");
            if (rows) {

            } else {
                $.messager.alert("请选择要修改通道的企业！");
            }
            if (!$('#channel').val()) {
                $.messager.alert("提示", "获取可用通道失败，请刷新当前页面重试！", "info");
                return;
            }
            var channelData = $.parseJSON($("#channel").val());
            $('#selectChannel').combobox({
                data: channelData,
                valueField: 'Id',
                textField: 'Name',
                editable: false
            });
            $('#selectChannel').combobox("setValue", "");

            $('#Dlg_SelectChannel').show();
            $('#Dlg_SelectChannel').dialog({ modal: true });


        }


        function SelectChannelAction() {
            var channel = $('#selectChannel').combobox("getValue");
            if (!channel) {
                $.messager.alert("提示", "请选择发送通道！");
                return;
            }
            var rows = $("#grid").datagrid("getSelections");
            if (rows) {

                var entlist = "";
                for (var i in rows) {
                    entlist = entlist + "," + rows[i].LoginName;
                }
                entlist = entlist.substr(1, entlist.length - 1);
                //请求操作
                var jstr = $.ajax({
                    url: "/Platform/UpdateEnterpriseChannel",
                    data: { entloginnamelist: entlist, Channel: channel },
                    method: "post",
                    async: false
                }).responseText;

                var msg = eval("(" + jstr + ")");
                if (msg.success) {
                    $('#Dlg_SelectChannel').dialog('close');
                    reloadgrid();
                }
                $.messager.alert("提示", msg.message, msg.type);

            }
        }

        function SelectChannelCancel() {
            $('#Dlg_SelectChannel').dialog('close');
        }

    </script>
    <style>
        .spinner {
            width: 100% !important;
        }

            .spinner .textbox-icon {
                padding-top: 3px !important;
            }

                .spinner .textbox-icon a {
                    height: 13px !important;
                }

        .numberbox .textbox-icon {
            padding-top: 3px !important;
        }

            .numberbox .textbox-icon a {
                height: 13px !important;
            }

        .textbox {
            width: 300px !important;
        }
    </style>
</head>
<body>
    <div class="ismp_search" style="margin-top:15px;padding-left:1%;font-size:14px;">
        <form id="frmSearch" class="pure-form pure-form-aligned">
            <span class="searchinput">
                <label for="frmqryEnterpriseCodeORName">企业代码或名称</label>
                <input id="frmqryEnterpriseCodeORName" class="easyui-textbox" width="100" name="EnterpriseCodeORName">
            </span>
            <span class="searchinput">
                <label for="frmqryChannel">通道</label>
                <input id="frmqryChannel" width="150">
            </span>
            <a href="javascript:void(0)" class="pure-button ismp-button4 btn" onclick="doqry()"><i class="fa fa-search"></i> 查询</a>

            <a href="javascript:void(0)" class="pure-button ismp-button4 btn" onclick="ShowSelectChannel()"><i class="fa fa-check"></i> 修改短信通道</a>
        </form>
    </div>
    <div style="position:absolute;top:63px;bottom:0px;left:1%;right:2%;">
        <table id="grid"></table>
    </div>

    <div id="Dlg_SelectChannel" title="选择通道" style="display: none">
        <div style="width: 360px; height: 100px; padding: 10px">
            <table cellpadding="0" cellspacing="1" style="width: 360px;">
                <tr>
                    <td style="padding-top:30px;">
                        通道：
                    </td>
                    <td style="line-height: 200%; padding: 5px; padding-top: 30px;">
                        <input id="selectChannel" class="easyui-combobox" style="width: 300px;" required="required" />
                    </td>
                </tr>
            </table>
        </div>
        <div style="text-align: center;margin-bottom:20px;">
            <a id="frmSave" href="javascript:void(0)" class="pure-button pure-button-primary btn" onclick="SelectChannelAction()">确定</a>
            <a id="frmCancel" href="javascript:void(0)" class="pure-button ismp-button6 btn marginleft" onclick="SelectChannelCancel()">取消</a>
        </div>
    </div>
    <input type="hidden" id="channel" value='@ViewData["Channel"]' />
</body>
</html>
