<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServicePort" value="18888"/>
    <add key="Pretreatment" value="tcp://192.168.2.36:16660/PretreatmentService.PretreatmentService"/>
    <add key="StatusReportService" value="tcp://192.168.2.36:16661/StatusReportService.StatusReportService"/>
  </appSettings>
</configuration>