@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/Scripts/jquery-easyui-1.4.3/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/Scripts/jquery-easyui-1.4.3/themes/icon.css">

    <script type="text/javascript" src='/Scripts/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src="/Scripts/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/Scripts/Common/zh_ISMP.js"></script>
    <script type="text/javascript" src="/Scripts/easyui-lang-zh_CN.js"></script>
    <title>SMSSale</title>

    @{
        if (ViewData["IsGrant"] == "1")
        {
            <script type="text/javascript">
                $(function () {
                    $("#feGrantType").combobox({
                        url:"/Sale/GetGrantReasonList",
                        valueField: "Id",
                        textField: "GrantType"
                    });
                });

            </script>
        }
    }
    <script type="text/javascript">
        $(function () {
            $("#frmedit").form({
                url: "/Sale/DoRecharge",
                onSubmit: function () {

                },
                success: function (data) {
                    var json = eval("(" + data + ")");
                    if (json.success) {
                        document.body.innerHTML = json.message;
                    } else {
                        $.messager.alert("提示", json.message, "info");
                    }
                }
            });
        });

        function save() {
            $("#frmedit").submit();
        }
    </script>
</head>
<body>
    <div>
        <form id="frmedit">
            <table>
                <tr>
                    <td>充值条数:</td>
                    <td><input type="text" class="easyui-numberbox" name="SMSNumber" /></td>
                </tr>
                @{
                    if (ViewData["IsGrant"] == "1")
                    {
                        <tr style="display:none;">
                            <td><input type="hidden" name="IsGrant" value="1" /></td>
                            <td><input type="hidden" name="key" value="@ViewData["key"]" /></td>
                        </tr>
                        <tr>
                            <td>赠款原因</td>
                            <td><input type="text" name="GrantType" id="feGrantType" /></td>
                        </tr>
                    }
                }
                <tr>
                    <td>备注:</td>
                    <td><textarea name="Description" style="width:200px;height:50px;"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="save()">确定</a>
                    </td>
                </tr>
            </table>
            <input type="hidden" id="frmeditEnterpriseAccountID" name="EnterpriseAccountID" value="@ViewData["EnterpriseAccountID"]" />
            <input type="hidden" id="frmeditEnterpriseCode" name="EnterpriseCode" value="@ViewData["EnterpriseCode"]" />
            <input type="hidden" id="frmeditAgentAccountID" name="AgentAccountID" value="@ViewData["AgentAccountID"]" />
        </form>
    </div>
</body>
</html>
