<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name="PretreatmentServer">
      <service>
        <!--SingleCall Singleton-->
        <wellknown type="ZHSMSService.ZHSMSPlatformService,ZHSMSService" objectUri="ZHSMSService.ZHSMSPlatformService"
            mode="SingleCall" />
      </service>
      <channels>
        <channel ref="tcp" port="16666"/>
      </channels>
    </application>
  </system.runtime.remoting>
  <appSettings>
    <add key="Pretreatment" value="tcp://127.0.0.1:16660/PretreatmentService.PretreatmentService"/>
    <add key="StatusReportService" value="tcp://127.0.0.1:16661/StatusReportService.StatusReportService"/>
  </appSettings>
  <connectionStrings>
    <add name="MySQL" connectionString="server = 127.0.0.1; user id = root; password = 123; database = ZHSMSPlatform"/>
  </connectionStrings>
</configuration>