<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MsgSendSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="MsgSendSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://121.199.48.186:1210/Services/MsgSend.asmx"
                binding="basicHttpBinding" bindingConfiguration="MsgSendSoap"
                contract="TPWS.MsgSendSoap" name="MsgSendSoap" />
            <endpoint address="http://121.199.48.186:1210/Services/MsgSend.asmx"
                binding="customBinding" bindingConfiguration="MsgSendSoap12"
                contract="TPWS.MsgSendSoap" name="MsgSendSoap12" />
        </client>
    </system.serviceModel>
</configuration>