<?xml version="1.0"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Account>zhonghu</Account>
  <Password>zhonghu_7749</Password>
  <!--<Account>zhonghu01</Account>
  <Password>zhonghu8856</Password>-->
  <SrcID>106575010199</SrcID>
</Config>