<?xml version="1.0"?>
<ArrayOfMonitoringProgram xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <MonitoringProgram>
    <Name>PBXHost.exe</Name>
    <Path>D:\PBX\</Path>
    <StartArguments></StartArguments>
    <Type>Control</Type>
    <MonitoringMethod>RemotingHeartbeat</MonitoringMethod>
    <MonitoringTime>10000</MonitoringTime>
    <MonitoringData>tcp://localhost:17777/PBXService.PBX</MonitoringData>
  </MonitoringProgram>
</ArrayOfMonitoringProgram>